.canvas {
  width: 100%;
  height: 100%;
}

.game-tooltip {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-content: center;
  align-items: center;
  label {
    margin: 0 4px;
  }
}